body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(149, 185, 218);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.blog-post{
    width: 60%;
    padding: 20px;
    border: 2px solid rgb(196, 16, 16);
    margin: 20px;
    background-color: azure;
    box-sizing: border-box;
    display: block;
}
.post-title{
    font-size: 28px;
    margin: 10px;
    border: 1px solid #896;
    padding-bottom: 10px;
}
.post-meta{
    font-size: 14px;
    color: rgb(189, 31, 31);
    margin-bottom: 20px;
}
.post-content{
    margin-bottom: 18px;
    line-height: 1.6;
}
*{
    box-sizing: border-box;
}